# Capitolul 0: Deschiderea și închiderea unui fișier. Metode de accesare

## Funcția `open( )`
Funcția `open( )` este utilizată pentru a deschide un fișier în Python. Aceasta returnează un obiect de tipul `File`, care poate fi utilizat pentru a citi sau scrie date.

##### Sintaxă:
```python
f = open('propozitii.txt', 'r')  # Deschidere pentru citire
```

### Importanța închiderii fișierului
Este esențial să închidem fișierele pentru a elibera resursele sistemului. Se folosește metoda `close( )`:
```python
f.close()
```

### Metode de deschidere a unui fișier:
- `'r'`: Citire (implicit)
- `'w'`: Scriere (crează fișierul dacă nu există)
- `'a'`: Adăugare la fișier
- `'rb'`: Citire în mod binar
- `'wb'`: Scriere în mod binar

In [ ]:
# Exemplu:

f = open('propozitii.txt', 'r')
print(f)
content = f.read()
print(type(content))
print(content)
f.close()

<_io.TextIOWrapper name='propozitii.txt' mode='r' encoding='utf-8'>
<class 'str'>
Soarele răsare în fiecare dimineață.
Pisica sare pe masă.
Matematica este o materie școlară importantă.
Primăvara vin păsările călătoare.
Citesc o carte interesantă.
Copiii se joacă în parc.
Sportul ajută la menținerea sănătății.
Telefonul mobil este un dispozitiv util.
Istoria se studiază la școală.
Călătoria cu trenul este confortabilă.
Muzica poate fi relaxantă.
Reciclarea este importantă pentru mediu.
Educația este necesară pentru dezvoltare.
Prietenii se ajută între ei.
Desenul este o activitate creativă.

In [ ]:
# __EXERCIȚIU__ Încarcă fișierul `propozitii.txt` în Google Colab.
# Rulează exemplul de mai sus. Verifică ce tip de date are variabila f.


## Conectarea Google Drive la Google Colab

### Conectarea Google Drive
Pentru a accesa fișiere din Google Drive în Colab, urmează pașii de mai jos:

1. Importă biblioteca necesară:
   ```python
   from google.colab import drive
   ```
2. Montează drive-ul:
   ```python
   drive.mount('/content/drive')
   ```

3. Navighează către fișier:
   ```python
   filepath = '/content/drive/My Drive/propozitii.txt'
   ```

In [ ]:
from google.colab import drive

#drive.mount('/content/drive/')

with open('/content/drive/MyDrive/Projects/Cursuri_SDA/AIRemoteRO6/MODULE 2/MODULE_2_C4_Deschidere_de_Fișiere_Fundamentele_Pandas/propozitii.txt', 'r') as file: # !!! DE MODIFICAT
    content = file.read()
    print(type(content))
    print(content)

<class 'str'>
Soarele răsare în fiecare dimineață.
Pisica sare pe masă.
Matematica este o materie școlară importantă.
Primăvara vin păsările călătoare.
Citesc o carte interesantă.
Copiii se joacă în parc.
Sportul ajută la menținerea sănătății.
Telefonul mobil este un dispozitiv util.
Istoria se studiază la școală.
Călătoria cu trenul este confortabilă.
Muzica poate fi relaxantă.
Reciclarea este importantă pentru mediu.
Educația este necesară pentru dezvoltare.
Prietenii se ajută între ei.
Desenul este o activitate creativă.

In [ ]:
# __EXERCIȚIU__ Conectează-te la Google Drive cu adresa de e-mail. Creează un
# director pentru cursuri. Adaugă acest fișier .ipynb în directorul creeat,
# împreună cu fișierul „propozitii.txt". Testează apoi exemplul de mai sus.


## Context manager-ul `with`. Utilizarea sa cu fișiere

### Ce este `with`?
`with` este un context manager care gestionează automat deschiderea și închiderea fișierelor. Asigură închiderea fișierului chiar și în caz de eroare.

#### **Avantajele utilizării context manager-ului**
- Reduce riscul de erori.
- Simplifică codul.

In [ ]:
# Exemplu: Citirea unui fișier cu `with`
with open('propozitii.txt', 'r') as file:
    pass
# Fișierul este închis automat


## Citirea dintr-un fișier. Metode populare

### Metoda `read()`
Citește întreg conținutul fișierului ca un singur șir de caractere.

In [ ]:
# Exemplu 1:
with open('propozitii.txt', 'r') as fisier:
    content = fisier.read()
    print(content)

Soarele răsare în fiecare dimineață.
Pisica sare pe masă.
Matematica este o materie școlară importantă.
Primăvara vin păsările călătoare.
Citesc o carte interesantă.
Copiii se joacă în parc.
Sportul ajută la menținerea sănătății.
Telefonul mobil este un dispozitiv util.
Istoria se studiază la școală.
Călătoria cu trenul este confortabilă.
Muzica poate fi relaxantă.
Reciclarea este importantă pentru mediu.
Educația este necesară pentru dezvoltare.
Prietenii se ajută între ei.
Desenul este o activitate creativă.


### Metoda `readline()`
Citește o singură linie din fișier.

In [ ]:
# Exemplu 2:

with open('propozitii.txt', 'r') as fisier:
    line = fisier.readline()
    while line:
        print(line.strip())
        line = fisier.readline()

Soarele răsare în fiecare dimineață.
Pisica sare pe masă.
Matematica este o materie școlară importantă.
Primăvara vin păsările călătoare.
Citesc o carte interesantă.
Copiii se joacă în parc.
Sportul ajută la menținerea sănătății.
Telefonul mobil este un dispozitiv util.
Istoria se studiază la școală.
Călătoria cu trenul este confortabilă.
Muzica poate fi relaxantă.
Reciclarea este importantă pentru mediu.
Educația este necesară pentru dezvoltare.
Prietenii se ajută între ei.
Desenul este o activitate creativă.


### Metoda `readlines()`
Returnează toate liniile ca o listă.

In [ ]:
# Exemplu 3:

with open('propozitii.txt', 'r') as file:
    lines = file.readlines()
    print(lines)
    for line in lines:
        print(line.strip())

['Soarele răsare în fiecare dimineață.\n', 'Pisica sare pe masă.\n', 'Matematica este o materie școlară importantă.\n', 'Primăvara vin păsările călătoare.\n', 'Citesc o carte interesantă.\n', 'Copiii se joacă în parc.\n', 'Sportul ajută la menținerea sănătății.\n', 'Telefonul mobil este un dispozitiv util.\n', 'Istoria se studiază la școală.\n', 'Călătoria cu trenul este confortabilă.\n', 'Muzica poate fi relaxantă.\n', 'Reciclarea este importantă pentru mediu.\n', 'Educația este necesară pentru dezvoltare.\n', 'Prietenii se ajută între ei.\n', 'Desenul este o activitate creativă.']
Soarele răsare în fiecare dimineață.
Pisica sare pe masă.
Matematica este o materie școlară importantă.
Primăvara vin păsările călătoare.
Citesc o carte interesantă.
Copiii se joacă în parc.
Sportul ajută la menținerea sănătății.
Telefonul mobil este un dispozitiv util.
Istoria se studiază la școală.
Călătoria cu trenul este confortabilă.
Muzica poate fi relaxantă.
Reciclarea este importantă pentru mediu.
Educația este necesară pentru dezvoltare.
Prietenii se ajută între ei.
Desenul este o activitate creativă.

In [ ]:
# __EXERCIȚIU__ Folosește `readlines()` pentru a încărca conținutul fișierului
# într-o listă, fiecare propoziție reprezentând un element al listei.
# Afișează propozițiile din două în două linii, împreună cu numărul liniei.

with open('propozitii.txt', 'r') as f:
  date = f.readlines()
  for i in range(0,len(date),2): # 0 -> len(date) din 2 in 2 [0, 2, 4, 6, 8, 10, 12, 14]
    print(f"{i + 1}. {date[i]}")

1. Soarele răsare în fiecare dimineață.

3. Matematica este o materie școlară importantă.

5. Citesc o carte interesantă.

7. Sportul ajută la menținerea sănătății.

9. Istoria se studiază la școală.

11. Muzica poate fi relaxantă.

13. Educația este necesară pentru dezvoltare.

15. Desenul este o activitate creativă.

In [ ]:
with open('propozitii.txt', 'r') as f:
  date = f.readlines()
  i = 0
  for prop in date:
    if i % 2 == 0:
      print(f"{i + 1}. {prop}")
    i += 1

1. Soarele răsare în fiecare dimineață.

3. Matematica este o materie școlară importantă.

5. Citesc o carte interesantă.

7. Sportul ajută la menținerea sănătății.

9. Istoria se studiază la școală.

11. Muzica poate fi relaxantă.

13. Educația este necesară pentru dezvoltare.

15. Desenul este o activitate creativă.

In [ ]:
with open('propozitii.txt', 'r') as f:
  lines = f.readlines()
  for i, line in enumerate(lines): # -> 0, "Soarele ...", 1, "...", 2, "..." ...
        if i % 2 == 0:
            print(f"{i+1}. {line.strip()}")



## Scrierea datelor într-un fișier. Diferite formate și tipuri de fișiere

### Scrierea într-un fișier text
Folosim modurile `'w'` sau `'a'`.

In [ ]:
# Exemplu 1:

with open('output.txt', 'w') as f:
    f.write('Aceasta este o propozitie scrisa intr-un fisier.\n')

In [ ]:
# Exemplu 1.1:

with open('output.txt', 'a') as f:
  f.write("Test\n")


### Scrierea într-un fișier CSV
Pentru fișiere CSV, utilizăm biblioteca `csv`.

In [ ]:
# Exemplu 2:

import csv

data = [
    ['Nume', 'Varsta'],
    ['Ana', 25],
    ['Mihai', 30]
    ]

with open('date.csv', 'w', newline='') as f:
    w1 = csv.writer(f)
    w1.writerows(data)


### Scrierea fișierelor JSON
Pentru JSON, utilizăm biblioteca `json`.

In [ ]:
# Exemplu 3:

import json

data = {'nume': 'Ana', 'varsta': 25}

with open('date.json', 'a') as f:
    json.dump(data, f)

In [ ]:
# __EXERCIȚIU__ Se dau două fișiere TXT. Un fișier conține un număr oarecare
# de prenume de studenți (studenti.txt). Al doilea fișier conține media
# fiecărui student menționat (medii.txt). Fiecărui student din fișierul cu
# prenume îi corespunde o medie din fișierul cu medii.

# !! ATENȚIE: Toate prenumele se află pe linii diferite, însă toate mediile
# sunt pe aceeași linie. Gândiți-vă cum tratați fiecare situație.

# Parcurgeți fiecare fișier în parte și salvați prenumele și mediile în două
# liste diferite. Pentru fiecare student, creeați câte un dicționar de forma:
#         {
#            "prenume":"Ana",
#            "medie":8.5
#         }

# Creeați o listă care să conțină câte un astfel de dicționar pentru fiecare
# student.

# Creeați un fișier JSON și adăugați toată lista în acel fișer.
# Ați creeat o mini-bază de date!

import json


with open("studenti.txt","r") as fisier:
  prenume_studenti = fisier.readlines()

print(prenume_studenti)

with open("medii.txt", "r") as fisier:
  medii_studenti_str = fisier.read()
  print(medii_studenti_str)
  medii_studenti = medii_studenti_str.split()
  print(medii_studenti)

studenti = []
for i in range(len(prenume_studenti)): # i -> [0, 1, 2, 3, ..., 11]
  student_curent = {}
  student_curent["prenume"] = prenume_studenti[i].strip("\n")
  student_curent["medie"] = medii_studenti[i]
  studenti.append(student_curent)

print(studenti)

with open("rezultat.json", "w") as fisier:
  json.dump(studenti, fisier)

['Ana\n', 'Matei\n', 'Mihai\n', 'Ionela\n', 'Angela\n', 'Albert\n', 'Dragos\n', 'Robert\n', 'Raul\n', 'Izolda\n', 'Radu\n', 'Silviu\n']
7.6 9.5 10.0 5.4 7.5 5.3 7.5 9.4 7.4 4.2 8.6 9.6

['7.6', '9.5', '10.0', '5.4', '7.5', '5.3', '7.5', '9.4', '7.4', '4.2', '8.6', '9.6']
[{'prenume': 'Ana', 'medie': '7.6'}, {'prenume': 'Matei', 'medie': '9.5'}, {'prenume': 'Mihai', 'medie': '10.0'}, {'prenume': 'Ionela', 'medie': '5.4'}, {'prenume': 'Angela', 'medie': '7.5'}, {'prenume': 'Albert', 'medie': '5.3'}, {'prenume': 'Dragos', 'medie': '7.5'}, {'prenume': 'Robert', 'medie': '9.4'}, {'prenume': 'Raul', 'medie': '7.4'}, {'prenume': 'Izolda', 'medie': '4.2'}, {'prenume': 'Radu', 'medie': '8.6'}, {'prenume': 'Silviu', 'medie': '9.6'}]

# Capitolul 1: Ce este Pandas? Utilizări populare

## 1.1 Introducere

Pandas este o bibliotecă open-source pentru Python, destinată analizei și manipulării datelor. Pandas oferă structuri de date puternice și flexibile, cum ar fi Series și DataFrame, care permit lucrul eficient cu date structurate și semi-structurate.

## 1.2 Utilizări Populare
1.	**Curățarea și preprocesarea datelor**: Eliminarea valorilor lipsă, modificarea formatelor și manipularea coloanelor.
2.	**Explorarea și analiza datelor**: Calcularea statisticilor descriptive, crearea de pivot tables și vizualizări.
3.	**Transformarea datelor**: Filtrarea, sortarea și agregarea datelor.
4.	**Integrarea cu alte biblioteci**: Se combină frecvent cu NumPy, Matplotlib și Scikit-learn pentru fluxuri de lucru complexe.

# Capitolul 2: Structurile de date în Pandas - Series și DataFrame

## 2.1 Series

Un Series este o structură unidimensională similară unei liste sau unui vector, dar cu un index asociat fiecărui element.

In [3]:
# Exemplu 1

import pandas as pd

# Crearea unui Series
exemplu = pd.Series([10, 20, 30, 40], index=["a", "b", "c", "d"])
print(exemplu)

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
# Exemplu 2

exemplu = pd.Series(["Ana", "Andrei", "Mara", "Mihaela"])
print(exemplu)
print(type(exemplu))
# OBS.: Adăugarea explicită a unui index este opțională.

0        Ana
1     Andrei
2       Mara
3    Mihaela
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
# Exemplu 3

exemplu = pd.Series([0,1,2,3], index = [4,3,2,1])
print(exemplu)
print(type(exemplu))

# OBS.: Series este un nou tip de date, separat de cele standard.

4    0
3    1
2    2
1    3
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
# __EXERCIȚIU__ Creeați un Series care reprezintă temperaturile zilnice pentru o
# săptămână și utilizați indecși personalizați pentru zilele săptămânii.

exemplu = pd.Series([11,12,6,3,12], index = ["Lu", "Ma", "Mi", "Joi", "Vi"])
print(exemplu)

Lu     11
Ma     12
Mi      6
Joi     3
Vi     12
dtype: int64

## 2.2 DataFrame

Un DataFrame este o structură bidimensională, similară unui tabel, cu rânduri și coloane etichetate.

In [ ]:
# Exemplu 1

# Crearea unui DataFrame prin folosirea unui dicționar
datele_mele = {
    "Nume": ["Ana", "Ion", "Maria"],
    "Vârstă": [23, 30, 25],
    "Oraș": ["București", "Cluj", "Iași"]
}
df = pd.DataFrame(datele_mele)
print(df)

# OBS.: Pandas deduce faptul că fiecare cheie reprezintă numele unei coloane
# și fiecare element al listelor este o valoare din acea coloană.

    Nume  Vârstă       Oraș
0    Ana      23  București
1    Ion      30       Cluj
2  Maria      25       Iași

In [4]:
# Exemplu 2

datele_mele = {
    "Nume": ["Ana", "Ion"],
    "Vârstă": [23, 30, 25],
    "Oraș": ["București", "Cluj", "Iași"]
}
df = pd.DataFrame(datele_mele)
print(df)

# OBS.: Dacă folosim această metodă, toate listele trebuie să conțină același
# număr de elemente. Alftel, vom întâmpina un ValueError specific.

ValueError: All arrays must be of the same length

In [5]:
# Exemplu 3

# Crearea unui dataframe prin folosirea unei liste de dicționare
# Fiecare element al listei este un dicționar ce poate conține
# chei comune (coloane) sau chiar chei diferite.
lista_comenzi = [
    {'comanda_id': 101, 'client': 'Ion Popescu', 'suma': 250},
    {'comanda_id': 102, 'client': 'Maria Ionescu', 'suma': 350, 'discount': True},
    {'comanda_id': 103, 'client': 'George Vasilescu', 'suma': 150}
]

df_comenzi = pd.DataFrame(lista_comenzi)

print("DataFrame - Listă de dicționare:")
print(df_comenzi)

# OBS.: Această strategie nu generează eroare dacă o intrare în data frame are
# valori pentru mai multe coloane, întrucât Pandas va insera automat tipul de
# date NaN (Not a Number) ca și valoare nulă pentru liniile fără valori date.

DataFrame - Listă de dicționare:
   comanda_id            client  suma discount  comand_id
0       101.0       Ion Popescu   250      NaN        NaN
1       102.0     Maria Ionescu   350     True        NaN
2         NaN  George Vasilescu   150      NaN      103.0

In [ ]:
# __EXERCIȚIU__ Construiți un DataFrame care să conțină informații despre
# produsele unui magazin (nume produs, preț, stoc disponibil). Folosiți ambele
# metode discutate pentru a defini același dataframe.

magazin = {
    "nume_produs": ["mere", "gutui", "lapte"],
    "pret": [5.0, 6.5, 12.5],
    "stoc_disponibil": [100, 120, 200]
}

df = pd.DataFrame(magazin)
print(df)

magazin2 = [
    {"nume_produs": "mere", "pret": 5.0, "stoc_disponibil": 100},
    {"nume_produs": "gutui", "pret": 6.5, "stoc_disponibil": 120},
    {"nume_produs": "lapte", "pret": 12.5, "stoc_disponibil": 200}
]

df2 = pd.DataFrame(magazin2)
print()
print(df2)

  nume_produs  pret  stoc_disponibil
0        mere   5.0              100
1       gutui   6.5              120
2       lapte  12.5              200

  nume_produs  pret  stoc_disponibil
0        mere   5.0              100
1       gutui   6.5              120
2       lapte  12.5              200

# Capitolul 3: Citirea datelor cu Pandas

## 3.1 Citirea unui fișier CSV

Una dintre cele mai comune utilizări ale Pandas este citirea fișierelor CSV. Metoda principală este pd.read_csv.

In [42]:
# Exemplu 1

# Citirea unui fișier CSV
df = pd.read_csv("date.csv")
print(df.head())

   ID_Client        Nume   Prenume  Salariu  Ani_Vechime
0          1     Ionescu    Andrei     8008           16
1          2  Dumitrescu     Elena     5269           24
2          3   Georgescu     Maria     5219           20
3          4   Marinescu  Cristina     9060           24
4          5  Dumitrescu    Andrei     4409           23

## 3.2 Parametrii principali
-	sep: Specifică separatorul (implicit ,).
-	header: Definește rândul care conține anteturile.
-	index_col: Specifică o coloană drept index.
-	usecols: Listează coloanele de încărcat.

In [ ]:
# Exemplu 2

# Citirea unui CSV cu parametri
df = pd.read_csv("date.csv", sep=",", header=0, usecols=["Nume", "Salariu"])

print(df.head())

         Nume  Salariu
0     Ionescu     8008
1  Dumitrescu     5269
2   Georgescu     5219
3   Marinescu     9060
4  Dumitrescu     4409

In [ ]:
# Exemplu 2

# Citirea unui CSV cu parametri
df = pd.read_csv("date.csv", index_col = 0)
print(df.head())

                 Nume   Prenume  Salariu  Ani_Vechime
ID_Client
1             Ionescu    Andrei     8008           16
2          Dumitrescu     Elena     5269           24
3           Georgescu     Maria     5219           20
4           Marinescu  Cristina     9060           24
5          Dumitrescu    Andrei     4409           23

## 3.3 Fundamentele Kaggle

1. **Ce este Kaggle?**

Kaggle este o platformă online destinată profesioniștilor și pasionaților de Data Science și Machine Learning. Este recunoscută pentru:
-	Seturi de date gratuite: O colecție vastă de seturi de date publice pentru diverse domenii.
-	Competiții: Proiecte colaborative și competiții sponsorizate, în care participanții rezolvă probleme reale folosind modele de Machine Learning.
-	Notebook-uri: Un mediu integrat unde utilizatorii pot crea, partaja și executa cod Python și R.
-	Comunitate activă: O rețea globală de experți care împărtășesc cunoștințe, soluții și sfaturi.

2. **De ce ne ajută Kaggle la Data Science?**

-	Acces la resurse valoroase: Oferă seturi de date bine organizate, tutoriale și exemple de cod care ajută în învățare și cercetare.
-	Practică hands-on: Platforma permite testarea algoritmilor și experimentarea pe date reale.
-	Învățare de la experți: Competițiile și comunitatea oferă acces la soluții și strategii avansate de la lideri din domeniu.
-	Construcția unui portofoliu: Contribuțiile pe Kaggle pot fi folosite pentru a demonstra abilitățile practice în fața potențialilor angajatori.

3. **Cum putem obține seturi de date folosind Kaggle?**
	1.	Crearea unui cont: Accesarea platformei necesită un cont gratuit.
	2.	Navigarea la secțiunea “Datasets”:
	  -	Vizitează Datasets pentru a explora seturile disponibile.
	3.	Descărcarea unui set de date:
	  -	După ce găsești un set interesant, descarcă-l fie direct, fie folosind API-ul Kaggle:
```bash
kaggle datasets download -d <dataset-name>
```
	4.	Integrarea în proiecte: Seturile de date descărcate pot fi utilizate direct în Python, Pandas sau alte biblioteci.

In [ ]:
# __EXERCIȚIU__ Descărcați un set de date CSV de pe Kaggle. Creați un dataframe
# care să conțină 3 dintre coloanele acelui set de date. Afișați primele linii
# ale acestui dataframe. CĂUTAȚI DATE NUMERICE.

# Capitolul 4: Afișarea datelor cu Pandas. Metode specifice

##4.1	**Afișare simplă**: Poți printa direct un DataFrame pentru a vizualiza datele care încap pe ecran.

In [7]:
# Exemplu 1
print("DataFrame complet:")
print(df)

DataFrame complet:
    ID_Client        Nume   Prenume  Salariu  Ani_Vechime
0           1     Ionescu    Andrei     8008           16
1           2  Dumitrescu     Elena     5269           24
2           3   Georgescu     Maria     5219           20
3           4   Marinescu  Cristina     9060           24
4           5  Dumitrescu    Andrei     4409           23
5           6   Georgescu     Maria     7082            3
6           7     Ionescu     Elena     5116           18
7           8     Popescu     Maria     5989           17
8           9   Marinescu     Maria     8549           20
9          10   Marinescu    Andrei     7441            7
10         11   Georgescu       Ion     5628           10
11         12     Popescu     Elena     5156           12
12         13   Marinescu  Cristina     6993           12
13         14   Marinescu       Ion     6967            8
14         15   Georgescu     Elena     4632            2
15         16     Popescu    Andrei     3123            9
16         17  Dumitrescu  Cristina     9248           25
17         18   Marinescu     Maria     3935            6
18         19  Dumitrescu     Elena     6726           15
19         20   Marinescu     Maria     9782           25
20         21  Dumitrescu  Cristina     7545           17
21         22   Marinescu     Elena     5822            4
22         23     Popescu     Elena     5983           22
23         24   Marinescu     Elena     9507           22
24         25     Popescu  Cristina     5645           22
25         26     Ionescu  Cristina     5064            2
26         27     Popescu  Cristina     6248            7
27         28     Popescu     Elena     6574            7
28         29  Dumitrescu     Maria     8650           23
29         30     Ionescu    Andrei     7970            1
30         31     Popescu     Elena     5196            6
31         32     Popescu     Maria     4540           10
32         33  Dumitrescu     Maria     6649            7
33         34     Popescu     Elena     8697           19
34         35   Georgescu     Maria     3051            5
35         36  Dumitrescu  Cristina     8209            7
36         37  Dumitrescu     Maria     3205           19
37         38   Georgescu    Andrei     5921           16
38         39  Dumitrescu     Maria     7629           10
39         40     Popescu  Cristina     8116           21
40         41     Ionescu    Andrei     4902           10
41         42     Ionescu       Ion     3753            5
42         43     Popescu     Elena     3337           13
43         44     Ionescu     Maria     4717            2
44         45   Marinescu  Cristina     8395           11
45         46   Marinescu     Maria     5690           23
46         47  Dumitrescu     Elena     6134            4
47         48   Marinescu    Andrei     3857           14
48         49   Marinescu       Ion     9305            5
49         50  Dumitrescu    Andrei     4458            8


##4.2 **Previzualizarea datelor**:
-	df.head(n): Afișează primele n rânduri ale DataFrame-ului (implicit: 5).
-	df.tail(n): Afișează ultimele n rânduri (implicit: 5).
-	df.sample(n): Afișează aleator n rânduri (implicit: 1).

In [8]:
# 2. Previzualizarea datelor
print("\nPrimele 5 rânduri (implicit):")
print(df.head())

print("\nUltimele 3 rânduri:")
print(df.tail(3))

print("\n3 rânduri aleatorii:")
print(df.sample(3))

Primele 5 rânduri (implicit):
   ID_Client        Nume   Prenume  Salariu  Ani_Vechime
0          1     Ionescu    Andrei     8008           16
1          2  Dumitrescu     Elena     5269           24
2          3   Georgescu     Maria     5219           20
3          4   Marinescu  Cristina     9060           24
4          5  Dumitrescu    Andrei     4409           23

Ultimele 3 rânduri:
    ID_Client        Nume Prenume  Salariu  Ani_Vechime
47         48   Marinescu  Andrei     3857           14
48         49   Marinescu     Ion     9305            5
49         50  Dumitrescu  Andrei     4458            8

3 rânduri aleatorii:
    ID_Client       Nume Prenume  Salariu  Ani_Vechime
5           6  Georgescu   Maria     7082            3
21         22  Marinescu   Elena     5822            4
23         24  Marinescu   Elena     9507           22

##4.3	**Accesarea coloanelor**:
-	df["column"] sau df.column: Accesează o coloană (ca Pandas Series).
	-	Notă: Notarea cu punct (df.column) funcționează doar pentru numele coloanelor fără spații sau caractere speciale.
-	df[["column"]]: Accesează o coloană (ca Pandas DataFrame).
-	df[["column1", "column2"]]: Accesează mai multe coloane (ca DataFrame).
	-	Notă: Nu poți specifica mai multe coloane folosind o singură pereche de paranteze pătrate ([]).

In [ ]:
# 3. Accesarea coloanelor
print("\nAccesarea unei singure coloane (Series):")
print(df["Nume"])

print("\nAccesarea unei singure coloane (DataFrame):")
print(df[["Nume"]])

print("\nAccesarea mai multor coloane:")
print(df[["Nume", "Salariu"]])

Accesarea unei singure coloane (Series):
ID_Client
1        Ionescu
2     Dumitrescu
3      Georgescu
4      Marinescu
5     Dumitrescu
6      Georgescu
7        Ionescu
8        Popescu
9      Marinescu
10     Marinescu
11     Georgescu
12       Popescu
13     Marinescu
14     Marinescu
15     Georgescu
16       Popescu
17    Dumitrescu
18     Marinescu
19    Dumitrescu
20     Marinescu
21    Dumitrescu
22     Marinescu
23       Popescu
24     Marinescu
25       Popescu
26       Ionescu
27       Popescu
28       Popescu
29    Dumitrescu
30       Ionescu
31       Popescu
32       Popescu
33    Dumitrescu
34       Popescu
35     Georgescu
36    Dumitrescu
37    Dumitrescu
38     Georgescu
39    Dumitrescu
40       Popescu
41       Ionescu
42       Ionescu
43       Popescu
44       Ionescu
45     Marinescu
46     Marinescu
47    Dumitrescu
48     Marinescu
49     Marinescu
50    Dumitrescu
Name: Nume, dtype: object

Accesarea unei singure coloane (DataFrame):
                 Nume
ID_Client
1             Ionescu
2          Dumitrescu
3           Georgescu
4           Marinescu
5          Dumitrescu
6           Georgescu
7             Ionescu
8             Popescu
9           Marinescu
10          Marinescu
11          Georgescu
12            Popescu
13          Marinescu
14          Marinescu
15          Georgescu
16            Popescu
17         Dumitrescu
18          Marinescu
19         Dumitrescu
20          Marinescu
21         Dumitrescu
22          Marinescu
23            Popescu
24          Marinescu
25            Popescu
26            Ionescu
27            Popescu
28            Popescu
29         Dumitrescu
30            Ionescu
31            Popescu
32            Popescu
33         Dumitrescu
34            Popescu
35          Georgescu
36         Dumitrescu
37         Dumitrescu
38          Georgescu
39         Dumitrescu
40            Popescu
41            Ionescu
42            Ionescu
43            Popescu
44            Ionescu
45          Marinescu
46          Marinescu
47         Dumitrescu
48          Marinescu
49          Marinescu
50         Dumitrescu

Accesarea mai multor coloane:
                 Nume  Salariu
ID_Client
1             Ionescu     8008
2          Dumitrescu     5269
3           Georgescu     5219
4           Marinescu     9060
5          Dumitrescu     4409
6           Georgescu     7082
7             Ionescu     5116
8             Popescu     5989
9           Marinescu     8549
10          Marinescu     7441
11          Georgescu     5628
12            Popescu     5156
13          Marinescu     6993
14          Marinescu     6967
15          Georgescu     4632
16            Popescu     3123
17         Dumitrescu     9248
18          Marinescu     3935
19         Dumitrescu     6726
20          Marinescu     9782
21         Dumitrescu     7545
22          Marinescu     5822
23            Popescu     5983
24          Marinescu     9507
25            Popescu     5645
26            Ionescu     5064
27            Popescu     6248
28            Popescu     6574
29         Dumitrescu     8650
30            Ionescu     7970
31            Popescu     5196
32            Popescu     4540
33         Dumitrescu     6649
34            Popescu     8697
35          Georgescu     3051
36         Dumitrescu     8209
37         Dumitrescu     3205
38          Georgescu     5921
39         Dumitrescu     7629
40            Popescu     8116
41            Ionescu     4902
42            Ionescu     3753
43            Popescu     3337
44            Ionescu     4717
45          Marinescu     8395
46          Marinescu     5690
47         Dumitrescu     6134
48          Marinescu     3857
49          Marinescu     9305
50         Dumitrescu     4458

##4.4	**Informații generale**:
-	df.index: Returnează indexul DataFrame-ului.
-	df.columns: Returnează numele coloanelor.
-	df.info(): Oferă informații generale despre dataset (număr de rânduri, valori lipsă, tipuri de date).

In [ ]:
# 4. Informații generale
print("\nIndexuri:")
print(df.index)

print("\nNumele coloanelor:")
print(df.columns)

print("\nInformații generale:")
df.info()

Indexuri:
Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
      dtype='int64', name='ID_Client')

Numele coloanelor:
Index(['Nume', 'Prenume', 'Salariu', 'Ani_Vechime'], dtype='object')

Informații generale:
<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 50
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nume         50 non-null     object
 1   Prenume      50 non-null     object
 2   Salariu      50 non-null     int64
 3   Ani_Vechime  50 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.0+ KB

In [21]:
# __EXERCIȚIU__ Folosiți setul de date selectat de voi pentru a face următoarele
# exerciții (daca nu aveți, exersați pe date.csv):

#print(df)

# 1.  Afișați primele 10 rânduri ale setului de date.
print(df.head(10))

# 2.	Afișați 3 rânduri alese aleatoriu.
print(df.sample(3))

# 3.	Afișați toate numele coloanelor și indexul DataFrame-ului.
print(df.index)
print(df.columns)

# 4.	Alegeți o coloană și afișați-o folosind cele două metode (Series sau
# DataFrame)
print(type(df["Salariu"]))
print(type(df[["Salariu"]]))

# 5.	Verificați informațiile generale despre dataset utilizând df.info().
print(df.info())

   ID_Client        Nume   Prenume  Salariu  Ani_Vechime
0          1     Ionescu    Andrei     8008           16
1          2  Dumitrescu     Elena     5269           24
2          3   Georgescu     Maria     5219           20
3          4   Marinescu  Cristina     9060           24
4          5  Dumitrescu    Andrei     4409           23
5          6   Georgescu     Maria     7082            3
6          7     Ionescu     Elena     5116           18
7          8     Popescu     Maria     5989           17
8          9   Marinescu     Maria     8549           20
9         10   Marinescu    Andrei     7441            7
    ID_Client       Nume Prenume  Salariu  Ani_Vechime
23         24  Marinescu   Elena     9507           22
45         46  Marinescu   Maria     5690           23
5           6  Georgescu   Maria     7082            3
RangeIndex(start=0, stop=50, step=1)
Index(['ID_Client', 'Nume', 'Prenume', 'Salariu', 'Ani_Vechime'], dtype='object')
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_Client    50 non-null     int64
 1   Nume         50 non-null     object
 2   Prenume      50 non-null     object
 3   Salariu      50 non-null     int64
 4   Ani_Vechime  50 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB
None

# Capitolul 5: Subsetare rânduri/coloane cu .loc[] și .iloc[]

## 5.1 .loc[ ]:
  -	Selectează rânduri și/sau coloane după etichete (ex.: numele coloanei sau al indexului).
  -	Sintaxă: `df.loc[etichete_rânduri, etichete_coloane]`.

In [ ]:
# Exemplu 1

# Creare de subesturi folosind .loc[]
print("\nRândurile cu etichetele între 0 și 4:")
print(df.loc[0:4, ["Nume", "Salariu"]])  # Primele 5 rânduri + coloanele specificate

print(df.loc[[0,4],"Nume": "Salariu"])  # Primele 5 rânduri + coloanele specificate

Rândurile cu etichetele între 0 și 4:
         Nume  Salariu
0     Ionescu     8008
1  Dumitrescu     5269
2   Georgescu     5219
3   Marinescu     9060
4  Dumitrescu     4409
         Nume Prenume  Salariu
0     Ionescu  Andrei     8008
4  Dumitrescu  Andrei     4409

In [ ]:
# Exemplu 2

datele_mele = {
    "Nume": ["Ana", "Ion", "Maria","Laur","Andrei"],
    "Vârstă": [23, 30, 25, 40, 35],
    "Oraș": ["București", "Cluj", "Iași", "București", "Cluj"]
}
df2 = pd.DataFrame(datele_mele, index = ["a","b","c","d","e"])
print(df2)
print(df2.loc["a":"c",["Oraș"]])

# OBS.: Deoarece metoda .loc() se foloseste pentru identificarea rândurilor
# după etichete (după numele indexului), putem prelua toate rândurile între
# indexul "a" și indexul "c"

     Nume  Vârstă       Oraș
a     Ana      23  București
b     Ion      30       Cluj
c   Maria      25       Iași
d    Laur      40  București
e  Andrei      35       Cluj
        Oraș
a  București
b       Cluj
c       Iași

In [ ]:
# Exemplu 3
df = pd.read_csv("date.csv")

# Creare de subesturi folosind .loc[]
print("\nRândurile cu etichetele din lista [2,3,4] și coloanele între ID_Client și Prenume:")
print(df.loc[[2, 3, 4], "ID_Client":"Prenume"])

Rândurile cu etichetele din lista [2,3,4] și coloanele între ID_Client și Prenume:
   ID_Client        Nume   Prenume
2          3   Georgescu     Maria
3          4   Marinescu  Cristina
4          5  Dumitrescu    Andrei

In [ ]:
# __EXERCIȚIU__ Selectați două coloane din setul de date selectat de voi.
# Afișați rândurile de la indexul 5 la indexul 10 pentru acele coloane, folosind
# metoda .loc[].

print(df.head())
print()
print(df.loc[5:10,["Prenume", "Ani_Vechime"]])

   ID_Client        Nume   Prenume  Salariu  Ani_Vechime
0          1     Ionescu    Andrei     8008           16
1          2  Dumitrescu     Elena     5269           24
2          3   Georgescu     Maria     5219           20
3          4   Marinescu  Cristina     9060           24
4          5  Dumitrescu    Andrei     4409           23

   Prenume  Ani_Vechime
5    Maria            3
6    Elena           18
7    Maria           17
8    Maria           20
9   Andrei            7
10     Ion           10

## 5.2 .iloc[]:
  -	Selectează rânduri și/sau coloane după poziții numerice.
  -	Sintaxă: `df.iloc[poziții_rânduri, poziții_coloane]`.

In [ ]:
# Exemplu 1

#Creare de subseturi folosind .iloc[]
print("Rândurile DE LA poziția 0, PÂNĂ LA poziția 5 (EXCLUSIV) +")
print("Coloanele DE LA poizția 1, PÂNĂ LA poziția 3 (EXCLUSIV):")
print(df.iloc[0:5, 1:3])

Rândurile DE LA poziția 0, PÂNĂ LA poziția 5 (EXCLUSIV) +
Coloanele DE LA poizția 1, PÂNĂ LA poziția 3 (EXCLUSIV):
         Nume   Prenume
0     Ionescu    Andrei
1  Dumitrescu     Elena
2   Georgescu     Maria
3   Marinescu  Cristina
4  Dumitrescu    Andrei

In [ ]:
# Exemplu 2

print("Rândurile DE LA poziția 0, PÂNĂ LA poziția 10 (EXCLUSIV) +")
print("Coloanele DE LA poizția 1, PÂNĂ LA FINAL:")
print(df.iloc[0:10, 1::])

Rândurile DE LA poziția 0, PÂNĂ LA poziția 10 (EXCLUSIV) +
Coloanele DE LA poizția 1, PÂNĂ LA FINAL:
         Nume   Prenume  Salariu  Ani_Vechime
0     Ionescu    Andrei     8008           16
1  Dumitrescu     Elena     5269           24
2   Georgescu     Maria     5219           20
3   Marinescu  Cristina     9060           24
4  Dumitrescu    Andrei     4409           23
5   Georgescu     Maria     7082            3
6     Ionescu     Elena     5116           18
7     Popescu     Maria     5989           17
8   Marinescu     Maria     8549           20
9   Marinescu    Andrei     7441            7

In [ ]:
# Exemplu 3

print("Rândurile DE LA poziția 0, PÂNĂ LA poziția 10 (EXCLUSIV) +")
print("Coloanele ÎN ORDINE INVERSĂ începând cu ULTIMA:")
print(df.iloc[0:10, ::-1])

Rândurile DE LA poziția 0, PÂNĂ LA poziția 10 (EXCLUSIV) +
Coloanele ÎN ORDINE INVERSĂ începând cu ULTIMA:
   Ani_Vechime  Salariu   Prenume        Nume  ID_Client
0           16     8008    Andrei     Ionescu          1
1           24     5269     Elena  Dumitrescu          2
2           20     5219     Maria   Georgescu          3
3           24     9060  Cristina   Marinescu          4
4           23     4409    Andrei  Dumitrescu          5
5            3     7082     Maria   Georgescu          6
6           18     5116     Elena     Ionescu          7
7           17     5989     Maria     Popescu          8
8           20     8549     Maria   Marinescu          9
9            7     7441    Andrei   Marinescu         10

In [ ]:
# __EXERCIȚIU__ Pentru setul de date ales de voi, selectați coloanele de la
# coloana a doua până la final și afișați rândurile 5..15 pentru acele coloane
# folosind metoda .iloc[].
print(df.head(16))
print(df.iloc[5:16, 1::])

    ID_Client        Nume   Prenume  Salariu  Ani_Vechime
0           1     Ionescu    Andrei     8008           16
1           2  Dumitrescu     Elena     5269           24
2           3   Georgescu     Maria     5219           20
3           4   Marinescu  Cristina     9060           24
4           5  Dumitrescu    Andrei     4409           23
5           6   Georgescu     Maria     7082            3
6           7     Ionescu     Elena     5116           18
7           8     Popescu     Maria     5989           17
8           9   Marinescu     Maria     8549           20
9          10   Marinescu    Andrei     7441            7
10         11   Georgescu       Ion     5628           10
11         12     Popescu     Elena     5156           12
12         13   Marinescu  Cristina     6993           12
13         14   Marinescu       Ion     6967            8
14         15   Georgescu     Elena     4632            2
15         16     Popescu    Andrei     3123            9
         Nume   Prenume  Salariu  Ani_Vechime
5   Georgescu     Maria     7082            3
6     Ionescu     Elena     5116           18
7     Popescu     Maria     5989           17
8   Marinescu     Maria     8549           20
9   Marinescu    Andrei     7441            7
10  Georgescu       Ion     5628           10
11    Popescu     Elena     5156           12
12  Marinescu  Cristina     6993           12
13  Marinescu       Ion     6967            8
14  Georgescu     Elena     4632            2
15    Popescu    Andrei     3123            9

# Capitolul 6: Filtrarea datelor cu condiții logice

Pandas permite filtrarea rândurilor utilizând condiții logice:
-	Sintaxă: `df[condiție]`
-	Combinarea condițiilor:
  -	&: Condiția AND (și)
  -	|: Condiția OR (sau)

In [ ]:
# Exemplu 1

# Filtrare rânduri unde Salariu > 5000
print("\nRânduri cu Salariu > 5000:")
print(df[df["Salariu"] > 5000])

Rânduri cu Salariu > 5000:
    ID_Client        Nume   Prenume  Salariu  Ani_Vechime
0           1     Ionescu    Andrei     8008           16
1           2  Dumitrescu     Elena     5269           24
2           3   Georgescu     Maria     5219           20
3           4   Marinescu  Cristina     9060           24
5           6   Georgescu     Maria     7082            3
6           7     Ionescu     Elena     5116           18
7           8     Popescu     Maria     5989           17
8           9   Marinescu     Maria     8549           20
9          10   Marinescu    Andrei     7441            7
10         11   Georgescu       Ion     5628           10
11         12     Popescu     Elena     5156           12
12         13   Marinescu  Cristina     6993           12
13         14   Marinescu       Ion     6967            8
16         17  Dumitrescu  Cristina     9248           25
18         19  Dumitrescu     Elena     6726           15
19         20   Marinescu     Maria     9782           25
20         21  Dumitrescu  Cristina     7545           17
21         22   Marinescu     Elena     5822            4
22         23     Popescu     Elena     5983           22
23         24   Marinescu     Elena     9507           22
24         25     Popescu  Cristina     5645           22
25         26     Ionescu  Cristina     5064            2
26         27     Popescu  Cristina     6248            7
27         28     Popescu     Elena     6574            7
28         29  Dumitrescu     Maria     8650           23
29         30     Ionescu    Andrei     7970            1
30         31     Popescu     Elena     5196            6
32         33  Dumitrescu     Maria     6649            7
33         34     Popescu     Elena     8697           19
35         36  Dumitrescu  Cristina     8209            7
37         38   Georgescu    Andrei     5921           16
38         39  Dumitrescu     Maria     7629           10
39         40     Popescu  Cristina     8116           21
44         45   Marinescu  Cristina     8395           11
45         46   Marinescu     Maria     5690           23
46         47  Dumitrescu     Elena     6134            4
48         49   Marinescu       Ion     9305            5

In [22]:
# Exemplu 2

# Condiții multiple: Salariu > 5000 și Ani_Vechime > 20
print("\nRânduri cu Salariu > 5000 și Ani_Vechime > 20:")
print(df[(df["Salariu"] > 5000) | (df["Ani_Vechime"] > 20)])

Rânduri cu Salariu > 5000 și Ani_Vechime > 20:
    ID_Client        Nume   Prenume  Salariu  Ani_Vechime
0           1     Ionescu    Andrei     8008           16
1           2  Dumitrescu     Elena     5269           24
2           3   Georgescu     Maria     5219           20
3           4   Marinescu  Cristina     9060           24
4           5  Dumitrescu    Andrei     4409           23
5           6   Georgescu     Maria     7082            3
6           7     Ionescu     Elena     5116           18
7           8     Popescu     Maria     5989           17
8           9   Marinescu     Maria     8549           20
9          10   Marinescu    Andrei     7441            7
10         11   Georgescu       Ion     5628           10
11         12     Popescu     Elena     5156           12
12         13   Marinescu  Cristina     6993           12
13         14   Marinescu       Ion     6967            8
16         17  Dumitrescu  Cristina     9248           25
18         19  Dumitrescu     Elena     6726           15
19         20   Marinescu     Maria     9782           25
20         21  Dumitrescu  Cristina     7545           17
21         22   Marinescu     Elena     5822            4
22         23     Popescu     Elena     5983           22
23         24   Marinescu     Elena     9507           22
24         25     Popescu  Cristina     5645           22
25         26     Ionescu  Cristina     5064            2
26         27     Popescu  Cristina     6248            7
27         28     Popescu     Elena     6574            7
28         29  Dumitrescu     Maria     8650           23
29         30     Ionescu    Andrei     7970            1
30         31     Popescu     Elena     5196            6
32         33  Dumitrescu     Maria     6649            7
33         34     Popescu     Elena     8697           19
35         36  Dumitrescu  Cristina     8209            7
37         38   Georgescu    Andrei     5921           16
38         39  Dumitrescu     Maria     7629           10
39         40     Popescu  Cristina     8116           21
44         45   Marinescu  Cristina     8395           11
45         46   Marinescu     Maria     5690           23
46         47  Dumitrescu     Elena     6134            4
48         49   Marinescu       Ion     9305            5

In [23]:
# Exemplu 3

# Interval de aparținere: Salariu între 5000 și 7000
print("\nIntrări cu Salariu între 5000 și 7000:")
print(df[(df["Salariu"] > 5000) & (df["Salariu"] < 7000)])

Intrări cu Salariu între 5000 și 7000:
    ID_Client        Nume   Prenume  Salariu  Ani_Vechime
1           2  Dumitrescu     Elena     5269           24
2           3   Georgescu     Maria     5219           20
6           7     Ionescu     Elena     5116           18
7           8     Popescu     Maria     5989           17
10         11   Georgescu       Ion     5628           10
11         12     Popescu     Elena     5156           12
12         13   Marinescu  Cristina     6993           12
13         14   Marinescu       Ion     6967            8
18         19  Dumitrescu     Elena     6726           15
21         22   Marinescu     Elena     5822            4
22         23     Popescu     Elena     5983           22
24         25     Popescu  Cristina     5645           22
25         26     Ionescu  Cristina     5064            2
26         27     Popescu  Cristina     6248            7
27         28     Popescu     Elena     6574            7
30         31     Popescu     Elena     5196            6
32         33  Dumitrescu     Maria     6649            7
37         38   Georgescu    Andrei     5921           16
45         46   Marinescu     Maria     5690           23
46         47  Dumitrescu     Elena     6134            4

In [28]:
# __EXERCIȚIU__ Filtrați setul de date date.csv după următoarele condiții:
#   Toate rândurile au Ani_Vechime < 10.
# 	ID-ul clientului face parte din intervalul [25, 35]
#   Numele clientului începe cu litera P
#         -- Aici vom folosi df["Nume"].str.startswith("P")

print(df[
    (df["Ani_Vechime"] < 10) &
    ((df["ID_Client"] >= 25) & (df["ID_Client"] <= 35)) &
    (df["Nume"].str.startswith("P"))
])

print()

df1 = df[df["Ani_Vechime"] < 10]
print(df1.head())

print()

df2 = df1[(df1["ID_Client"] >= 25) & (df1["ID_Client"] <= 35)]
print(df2)

print()

df3 = df2[df2["Nume"].str.startswith("P")]
print(df3)

    ID_Client     Nume   Prenume  Salariu  Ani_Vechime
26         27  Popescu  Cristina     6248            7
27         28  Popescu     Elena     6574            7
30         31  Popescu     Elena     5196            6

    ID_Client       Nume Prenume  Salariu  Ani_Vechime
5           6  Georgescu   Maria     7082            3
9          10  Marinescu  Andrei     7441            7
13         14  Marinescu     Ion     6967            8
14         15  Georgescu   Elena     4632            2
15         16    Popescu  Andrei     3123            9

    ID_Client        Nume   Prenume  Salariu  Ani_Vechime
25         26     Ionescu  Cristina     5064            2
26         27     Popescu  Cristina     6248            7
27         28     Popescu     Elena     6574            7
29         30     Ionescu    Andrei     7970            1
30         31     Popescu     Elena     5196            6
32         33  Dumitrescu     Maria     6649            7
34         35   Georgescu     Maria     3051            5

    ID_Client     Nume   Prenume  Salariu  Ani_Vechime
26         27  Popescu  Cristina     6248            7
27         28  Popescu     Elena     6574            7
30         31  Popescu     Elena     5196            6

# Capitolul 7: Suprascrierea datelor

Datele dintr-un DataFrame Pandas pot fi suprascrise utilizând:
-	Atribuire:
	-	`df["coloană"] = valori_noi`: Suprascrie o coloană existentă sau adaugă una nouă.
- Folosire de metode:
	-	.replace(): Înlocuiește valori specifice.
	- .apply(): Aplică o funcție pentru a modifica valorile.

In [30]:
# Exemplu 1: Suprascrierea unei coloane existente
print(df.head())

df["Salariu"] = df["Salariu"] + 500  # Creștem salariile cu 500

df.head()

   ID_Client        Nume   Prenume  Salariu  Ani_Vechime  salariu
0          1     Ionescu    Andrei     8008           16     8508
1          2  Dumitrescu     Elena     5269           24     5769
2          3   Georgescu     Maria     5219           20     5719
3          4   Marinescu  Cristina     9060           24     9560
4          5  Dumitrescu    Andrei     4409           23     4909

   ID_Client        Nume   Prenume  Salariu  Ani_Vechime  salariu
0          1     Ionescu    Andrei     8508           16     8508
1          2  Dumitrescu     Elena     5769           24     5769
2          3   Georgescu     Maria     5719           20     5719
3          4   Marinescu  Cristina     9560           24     9560
4          5  Dumitrescu    Andrei     4909           23     4909

In [31]:
# Exemplu 2: Adăugarea unei coloane noi
df["Bonus"] = df["Salariu"] * 0.1  # Bonus = 10% din salariu

df.head()

   ID_Client        Nume   Prenume  Salariu  Ani_Vechime  salariu  Bonus
0          1     Ionescu    Andrei     8508           16     8508  850.8
1          2  Dumitrescu     Elena     5769           24     5769  576.9
2          3   Georgescu     Maria     5719           20     5719  571.9
3          4   Marinescu  Cristina     9560           24     9560  956.0
4          5  Dumitrescu    Andrei     4909           23     4909  490.9

In [32]:
# Exemplu 3: Înlocuirea unor valori
df["Nume"] = df["Nume"].replace("Popescu", "Popa")  # Înlocuim "Popescu" cu "Popa"

df[(df["Nume"].str.startswith("P"))]

    ID_Client  Nume   Prenume  Salariu  Ani_Vechime  salariu  Bonus
7           8  Popa     Maria     6489           17     6489  648.9
11         12  Popa     Elena     5656           12     5656  565.6
15         16  Popa    Andrei     3623            9     3623  362.3
22         23  Popa     Elena     6483           22     6483  648.3
24         25  Popa  Cristina     6145           22     6145  614.5
26         27  Popa  Cristina     6748            7     6748  674.8
27         28  Popa     Elena     7074            7     7074  707.4
30         31  Popa     Elena     5696            6     5696  569.6
31         32  Popa     Maria     5040           10     5040  504.0
33         34  Popa     Elena     9197           19     9197  919.7
39         40  Popa  Cristina     8616           21     8616  861.6
42         43  Popa     Elena     3837           13     3837  383.7

In [33]:
# Exemplu 4 # Înlocuirea mai multor valori

print(df.head(10))

df["Prenume"] = df["Prenume"].replace({
    "Maria": "Ana",
    "Cristina": "Elena"
})

df.head()

   ID_Client        Nume   Prenume  Salariu  Ani_Vechime  salariu  Bonus
0          1     Ionescu    Andrei     8508           16     8508  850.8
1          2  Dumitrescu     Elena     5769           24     5769  576.9
2          3   Georgescu     Maria     5719           20     5719  571.9
3          4   Marinescu  Cristina     9560           24     9560  956.0
4          5  Dumitrescu    Andrei     4909           23     4909  490.9
5          6   Georgescu     Maria     7582            3     7582  758.2
6          7     Ionescu     Elena     5616           18     5616  561.6
7          8        Popa     Maria     6489           17     6489  648.9
8          9   Marinescu     Maria     9049           20     9049  904.9
9         10   Marinescu    Andrei     7941            7     7941  794.1

   ID_Client        Nume Prenume  Salariu  Ani_Vechime  salariu  Bonus
0          1     Ionescu  Andrei     8508           16     8508  850.8
1          2  Dumitrescu   Elena     5769           24     5769  576.9
2          3   Georgescu     Ana     5719           20     5719  571.9
3          4   Marinescu   Elena     9560           24     9560  956.0
4          5  Dumitrescu  Andrei     4909           23     4909  490.9

In [34]:
# Exemplu 5: Înlocuirea valorilor numerice
df["Salariu"] = df["Salariu"].replace({
    4000: 4500,
    6000: 6500
})

print("\nDataFrame după modificarea salariilor:")
print(df)

DataFrame după modificarea salariilor:
    ID_Client        Nume Prenume  Salariu  Ani_Vechime  salariu   Bonus
0           1     Ionescu  Andrei     8508           16     8508   850.8
1           2  Dumitrescu   Elena     5769           24     5769   576.9
2           3   Georgescu     Ana     5719           20     5719   571.9
3           4   Marinescu   Elena     9560           24     9560   956.0
4           5  Dumitrescu  Andrei     4909           23     4909   490.9
5           6   Georgescu     Ana     7582            3     7582   758.2
6           7     Ionescu   Elena     5616           18     5616   561.6
7           8        Popa     Ana     6489           17     6489   648.9
8           9   Marinescu     Ana     9049           20     9049   904.9
9          10   Marinescu  Andrei     7941            7     7941   794.1
10         11   Georgescu     Ion     6128           10     6128   612.8
11         12        Popa   Elena     5656           12     5656   565.6
12         13   Marinescu   Elena     7493           12     7493   749.3
13         14   Marinescu     Ion     7467            8     7467   746.7
14         15   Georgescu   Elena     5132            2     5132   513.2
15         16        Popa  Andrei     3623            9     3623   362.3
16         17  Dumitrescu   Elena     9748           25     9748   974.8
17         18   Marinescu     Ana     4435            6     4435   443.5
18         19  Dumitrescu   Elena     7226           15     7226   722.6
19         20   Marinescu     Ana    10282           25    10282  1028.2
20         21  Dumitrescu   Elena     8045           17     8045   804.5
21         22   Marinescu   Elena     6322            4     6322   632.2
22         23        Popa   Elena     6483           22     6483   648.3
23         24   Marinescu   Elena    10007           22    10007  1000.7
24         25        Popa   Elena     6145           22     6145   614.5
25         26     Ionescu   Elena     5564            2     5564   556.4
26         27        Popa   Elena     6748            7     6748   674.8
27         28        Popa   Elena     7074            7     7074   707.4
28         29  Dumitrescu     Ana     9150           23     9150   915.0
29         30     Ionescu  Andrei     8470            1     8470   847.0
30         31        Popa   Elena     5696            6     5696   569.6
31         32        Popa     Ana     5040           10     5040   504.0
32         33  Dumitrescu     Ana     7149            7     7149   714.9
33         34        Popa   Elena     9197           19     9197   919.7
34         35   Georgescu     Ana     3551            5     3551   355.1
35         36  Dumitrescu   Elena     8709            7     8709   870.9
36         37  Dumitrescu     Ana     3705           19     3705   370.5
37         38   Georgescu  Andrei     6421           16     6421   642.1
38         39  Dumitrescu     Ana     8129           10     8129   812.9
39         40        Popa   Elena     8616           21     8616   861.6
40         41     Ionescu  Andrei     5402           10     5402   540.2
41         42     Ionescu     Ion     4253            5     4253   425.3
42         43        Popa   Elena     3837           13     3837   383.7
43         44     Ionescu     Ana     5217            2     5217   521.7
44         45   Marinescu   Elena     8895           11     8895   889.5
45         46   Marinescu     Ana     6190           23     6190   619.0
46         47  Dumitrescu   Elena     6634            4     6634   663.4
47         48   Marinescu  Andrei     4357           14     4357   435.7
48         49   Marinescu     Ion     9805            5     9805   980.5
49         50  Dumitrescu  Andrei     4958            8     4958   495.8

In [36]:
# Exemplu 6: Creăm o funcție pentru ajustarea salariului
def adjust_salary(salary):
    if salary < 5000:
        return salary + 500  # Adaugă 500 pentru salarii mici
    elif salary > 6000:
        return salary * 1.10  # Creștem cu 10% pentru salarii mari
    return salary

# Aplicăm funcția pe coloana "Salariu"
df["Salariu"] = df["Salariu"].apply(adjust_salary)

print("\nDataFrame după ajustarea salariilor cu apply:")
print(df)

DataFrame după ajustarea salariilor cu apply:
    ID_Client        Nume Prenume   Salariu  Ani_Vechime  salariu   Bonus
0           1     Ionescu  Andrei  10294.68           16     8508   850.8
1           2  Dumitrescu   Elena   5769.00           24     5769   576.9
2           3   Georgescu     Ana   5719.00           20     5719   571.9
3           4   Marinescu   Elena  11567.60           24     9560   956.0
4           5  Dumitrescu  Andrei    500.00           23     4909   490.9
5           6   Georgescu     Ana   9174.22            3     7582   758.2
6           7     Ionescu   Elena   5616.00           18     5616   561.6
7           8        Popa     Ana   7851.69           17     6489   648.9
8           9   Marinescu     Ana  10949.29           20     9049   904.9
9          10   Marinescu  Andrei   9608.61            7     7941   794.1
10         11   Georgescu     Ion   7414.88           10     6128   612.8
11         12        Popa   Elena   5656.00           12     5656   565.6
12         13   Marinescu   Elena   9066.53           12     7493   749.3
13         14   Marinescu     Ion   9035.07            8     7467   746.7
14         15   Georgescu   Elena   5132.00            2     5132   513.2
15         16        Popa  Andrei    500.00            9     3623   362.3
16         17  Dumitrescu   Elena  11795.08           25     9748   974.8
17         18   Marinescu     Ana    500.00            6     4435   443.5
18         19  Dumitrescu   Elena   8743.46           15     7226   722.6
19         20   Marinescu     Ana  12441.22           25    10282  1028.2
20         21  Dumitrescu   Elena   9734.45           17     8045   804.5
21         22   Marinescu   Elena   7649.62            4     6322   632.2
22         23        Popa   Elena   7844.43           22     6483   648.3
23         24   Marinescu   Elena  12108.47           22    10007  1000.7
24         25        Popa   Elena   7435.45           22     6145   614.5
25         26     Ionescu   Elena   5564.00            2     5564   556.4
26         27        Popa   Elena   8165.08            7     6748   674.8
27         28        Popa   Elena   8559.54            7     7074   707.4
28         29  Dumitrescu     Ana  11071.50           23     9150   915.0
29         30     Ionescu  Andrei  10248.70            1     8470   847.0
30         31        Popa   Elena   5696.00            6     5696   569.6
31         32        Popa     Ana   5040.00           10     5040   504.0
32         33  Dumitrescu     Ana   8650.29            7     7149   714.9
33         34        Popa   Elena  11128.37           19     9197   919.7
34         35   Georgescu     Ana    500.00            5     3551   355.1
35         36  Dumitrescu   Elena  10537.89            7     8709   870.9
36         37  Dumitrescu     Ana    500.00           19     3705   370.5
37         38   Georgescu  Andrei   7769.41           16     6421   642.1
38         39  Dumitrescu     Ana   9836.09           10     8129   812.9
39         40        Popa   Elena  10425.36           21     8616   861.6
40         41     Ionescu  Andrei   5402.00           10     5402   540.2
41         42     Ionescu     Ion    500.00            5     4253   425.3
42         43        Popa   Elena    500.00           13     3837   383.7
43         44     Ionescu     Ana   5217.00            2     5217   521.7
44         45   Marinescu   Elena  10762.95           11     8895   889.5
45         46   Marinescu     Ana   7489.90           23     6190   619.0
46         47  Dumitrescu   Elena   8027.14            4     6634   663.4
47         48   Marinescu  Andrei    500.00           14     4357   435.7
48         49   Marinescu     Ion  11864.05            5     9805   980.5
49         50  Dumitrescu  Andrei    500.00            8     4958   495.8

In [37]:
# __EXERCIȚIU__ Adăugați o coloană Salariu_Net care calculează salariul după
# o deducere de 10% taxe.

df["Salariu_Net"] = df["Salariu"] * 0.9

print(df.head())

   ID_Client        Nume Prenume   Salariu  Ani_Vechime  salariu  Bonus  \
0          1     Ionescu  Andrei  10294.68           16     8508  850.8
1          2  Dumitrescu   Elena   5769.00           24     5769  576.9
2          3   Georgescu     Ana   5719.00           20     5719  571.9
3          4   Marinescu   Elena  11567.60           24     9560  956.0
4          5  Dumitrescu  Andrei    500.00           23     4909  490.9

   Salariu_Net
0     9265.212
1     5192.100
2     5147.100
3    10410.840
4      450.000

In [40]:
# __EXERCIȚIU__ Înlocuiți toate aparițiile unui anumit nume de familie
# ("Ionescu") cu "Ion".

df["Nume"] = df["Nume"].replace("Ionescu", "Ion")

df[df["Nume"].str.startswith("I")]

    ID_Client Nume Prenume   Salariu  Ani_Vechime  salariu  Bonus  Salariu_Net
0           1  Ion  Andrei  10294.68           16     8508  850.8     9265.212
6           7  Ion   Elena   5616.00           18     5616  561.6     5054.400
25         26  Ion   Elena   5564.00            2     5564  556.4     5007.600
29         30  Ion  Andrei  10248.70            1     8470  847.0     9223.830
40         41  Ion  Andrei   5402.00           10     5402  540.2     4861.800
41         42  Ion     Ion    500.00            5     4253  425.3      450.000
43         44  Ion     Ana   5217.00            2     5217  521.7     4695.300

In [44]:
# __EXERCIȚIU__ Adăugați o coloană "Pozitie":
# -	Atribuiți "Junior" pentru angajații cu Ani_Vechime < 5.
# -	Atribuiți "Senior" pentru cei cu Ani_Vechime >= 5.

def categorie_vechime(ani_vechime):
  if ani_vechime < 5:
    return "Junior"
  return "Senior"

df["Pozitie"] = df["Ani_Vechime"].apply(categorie_vechime)

print(df.loc[:,["Ani_Vechime", "Pozitie"]])

    Ani_Vechime Pozitie
0            16  Senior
1            24  Senior
2            20  Senior
3            24  Senior
4            23  Senior
5             3  Junior
6            18  Senior
7            17  Senior
8            20  Senior
9             7  Senior
10           10  Senior
11           12  Senior
12           12  Senior
13            8  Senior
14            2  Junior
15            9  Senior
16           25  Senior
17            6  Senior
18           15  Senior
19           25  Senior
20           17  Senior
21            4  Junior
22           22  Senior
23           22  Senior
24           22  Senior
25            2  Junior
26            7  Senior
27            7  Senior
28           23  Senior
29            1  Junior
30            6  Senior
31           10  Senior
32            7  Senior
33           19  Senior
34            5  Senior
35            7  Senior
36           19  Senior
37           16  Senior
38           10  Senior
39           21  Senior
40           10  Senior
41            5  Senior
42           13  Senior
43            2  Junior
44           11  Senior
45           23  Senior
46            4  Junior
47           14  Senior
48            5  Senior
49            8  Senior