# Liste
O listă este o colecție **ordonată** și **mutabilă** care poate conține diferite tipuri de date (numere, șiruri de caractere, dicționare, seturi, chiar și alte liste).
Listele sunt una dintre cele mai folosite structuri de date din Python datorită flexibilității și ușurinței în utilizare.

##Caracteristici principale ale listelor
	1.	Ordonată – Fiecare element din listă are un index. Ordinea elementelor este păstrată.
	2.	Mutabilă – Putem adăuga, șterge și modifica elementele din listă.
	3.	Permite duplicate – Listele permit elemente duplicate, adică același element poate apărea de mai multe ori.
	4.	Acceptă tipuri de date diferite – O listă poate conține valori de tipuri diferite (int, float, str, dict, list, etc.).

In [1]:
# EXEMPLU 1
fructe = ['mere', 'pere', 'cireșe', 'mere']

print(fructe[0])  # Accesăm primul element ('mere')
print(fructe[2])  # Accesăm al treilea element ('cireșe')

# OBS.: Folosim aceeași notație "[ ]" ca atunci când dorim să accesăm
# caracterele din interiorul unui string.

# La fel, se păstrează și numerotarea elementelor începând de la 0.

mere
cireșe

In [3]:
# __EXERCIȚIU__ Se dă lista urmatoare:
numere = [1, 5, 12, 43, 2]

# Sa se acceseze primul element din lista folosind pozitia sa.
print(numere[0])

# Sa se afiseze pe ecran numarul `43` prin accesarea pozitiei sale din lista.
print(numere[3])

1
43
e

In [4]:
# EXEMPLU 2
fructe = ['mere', 'pere', 'cireșe']

print(fructe[-1])  # Ultimul element ('cireșe')
print(fructe[-2])  # Penultimul element ('pere')

# OBS.: Putem accesa elementele începând de la coada listei prin adăugarea
# unui „-" înainte de poziția pe care o căutăm.

cireșe
pere

In [8]:
# __EXERCIȚIU__ Se dă lista urmatoare:
numere = [54, 12, 2, 234, 1231]

# Sa se afiseze ultimul element din lista.

print(numere[-1])
print(numere[len(numere) - 1])

1231
1231

In [5]:
# EXEMPLU 3
fructe = ['mere', 'pere', 'cireșe']

fructe[1] = 'banane'
print(fructe)

# OBS.: Folosim caracteristica unei liste de a fi mutabilă pentru a modifica
# elementul care se găsește pe poziția 1 (al doilea element al listei).

['mere', 'banane', 'cireșe']

In [10]:
# __EXERCIȚIU__ Se dă lista urmatoare:
numere = [123, 12, 1, 4242, 2, 1, 1]

# Sa se schimbe valoarea ultimului element din lista la 100.
numere[-1] = 100
print(numere)

# Folosind un bloc FOR, sa se adauge 10 la primele 3 elemente din lista.

for i in range(3):
  numere[i] += 10

print(numere)

[123, 12, 1, 4242, 2, 1, 100]
[133, 22, 11, 4242, 2, 1, 100]

In [7]:
# EXEMPLU 4
fructe = []
legume = list()

print(fructe == legume)

# OBS.: Putem folosi funcția list( ) pentru a declara o listă. Putem să ne
# gândim la această funcție ca un „cast" la listă (o conversie la listă),
# deoarece o putem aplica și pe alte tipuri de date (însă acestea trebuie să
# fie tot colecții):

# numere = list(5)
# print(numere)

# În acest caz, nu putem crea o listă care să aibă doar elementul 5, deoarece
# int este o primitivă.

cereale = list("grau123")
print(cereale)

# Deoarece și lista și șirul de caractere sunt colecții în Python, conversia
# la list va crea o listă cu 4 elemente, unul pentru fiecare caracter al
# cuvântului.

# Totodată, observăm cum putem atribui unei variabile o listă goală.

True
['g', 'r', 'a', 'u', '1', '2', '3']

In [ ]:
# __EXERCIȚIU__ Se dă lista următoare:
# studenti = ["Andrei", "Marius", "Andra", "Robert", "Alexandra"]

# 1. Să se afișeze al patrulea element pe ecran. (Robert)
# 2. Să se afișeze ultimul element pe ecran.
# 3. Să se creeze o listă care să conțină literele primului nume din listă.

# 4. ! Pentru fiecare literă din lista creeată, faceți următoarele operații:
#       - Convertiți litera la minusculă (folosind .lower() sau codul ASCII)
#       - Verificați dacă litera este înainte sau după litera "m"
#           - Dacă este după -- Afișați "[litera] - După"
#           - Dacă este înainte -- Afișați "[litera] - Înainte"

## Adăugarea elementelor într-o listă

Avem trei variante de bază de a adăuga elemente într-o listă predefinită:
1. .append(x) -- Adaugă elementul x la finalul listei
2. .insert(i, x) -- Inserează elementul x pe poziția i și mută celelalte elemente mai la dreapta
3. .extend(lista2) -- Adaugă elementele dintr-o altă listă la finalul listei inițiale

!! TOATE ACESTEA SUNT METODE. În alte cuvinte, pentru a le putea rula, trebuie să le atașăm unei variabile care conține o listă.

In [ ]:
# EXEMPLU 1
fructe = ['mere', 'pere']
fructe.append('cireșe')  # Adaugă 'cireșe' la final
print(fructe)  # ['mere', 'pere', 'cireșe']

fructe.insert(1, 'banane')  # Inserează 'banane' pe poziția 1
print(fructe)  # ['mere', 'banane', 'pere', 'cireșe']

fructe.extend(['portocale', 'struguri'])  # Adaugă mai multe elemente
print(fructe)  # ['mere', 'banane', 'pere', 'cireșe', 'portocale', 'struguri']

In [ ]:
# __EXERCIȚIU__ Se da lista urmatoare:
# activitati = ["baschet", "tenis", "fotbal"]

# 1. Sa se adauge cuvantul "volei" la lista.
# 2. Sa se extinda lista cu lista urmatoare ["inot", "ciclism"]
# 3. Sa se insereze cuvatnul "handbal" pe a treia pozitie in lista.

In [ ]:
# __EXERCIȚIU__ Creeați lista goală „clienti". Să se afișeze pe ecran mesajul
# „Câți clienți are firma dumneavoastră? " și să se citească o valoare n, număr
# natural pozitiv.
# Pentru toate numerele de la 1 la n să se afișeze pe ecran: „Introducti numele
# clientului cu numarul [...]: " și să se adauge clientul la lista „clienti".
# La final, să se printeze pe ecran „Clienții firmei dumneavoastră sunt: [...]"

## Ștergerea elementelor dintr-o listă

Avem patru variante de bază de a șterge elemente dintr-o listă predefinită:
1. .remove(x) -- Elimină prima apariție a elementului x
2. .pop(i) -- Elimină ȘI RETURNEAZĂ elementul de pe poziția i. De menționat că putem folosi folosi pop() și fără parametri pentru a elimina și returna ultimul element din listă.
3. del lista[i] -- Șterge elementul de pe poziția i. Aici reținem că putem folosi și „del lista” pentru a șterge lista cu totul
4. .clear() -- Șterge toate elementele listei, DAR NU ȘI LISTA ÎN SINE

In [ ]:
# EXEMPLU 1

fructe = ['mere', 'pere', 'cireșe', 'pere']
fructe.remove('pere')  # Elimină prima apariție a 'pere'
print(fructe)  # ['mere', 'cireșe', 'pere']

fruct = fructe.pop(1)  # Elimină și returnează elementul de la index 1
print(fructe)  # ['mere', 'pere']
print(fruct)

del fructe[0]  # Șterge elementul de la index 0
print(fructe)  # ['pere']

fructe.clear()  # Golește lista
print(fructe)  # []

del fructe
# print(fructe) # VA GENERA O EROARE DEOARECE fructe NU MAI ESTE DEFINIT

['mere', 'cireșe', 'pere']
['mere', 'pere']
cireșe
['pere']
[]

In [ ]:
 # __EXERCIȚIU__ Se da lista urmatoare:
 # animale = ["caine", "pisica", "vaca", "lup"]

 # 1. Sa se elimine al treilea element din lista si sa se afiseze lista
 # (Verificati daca ati eliminat cuvantul "vaca")
 # 2. Sa se elimine cuvantul "caine" dupa numele sau.
 # 3. Sa se stearga lista.

In [ ]:
# __EXERCIȚIU__ O firmă are două departamente:
# IT - cu angajații Rares, Radu și Cristina
# Marketing -- cu angajații Victor și Ioana
# În firmă se ține un meeting în care vor participa toți angajații.
# La acest meeting, Radu își declară demisia.

# Să se declare două liste, „it" și „marketing", fiecare cu elementele
# corespunzătoare. Să se declare apoi lista „meeting" care să conțină
# elementele ambelor liste. Să se elimine elementul „Radu" și să se
# afișeze lista finală.

# HINT: Pentru crearea listei „meeting" vom folosi metoda .extend( ).

## Alte operații utile cu liste
* len(lista) -- Returnează lungimea listei
* lista.sort() -- Sortează lista crescător
* lista.reverse() -- Inversează ordinea elementelor
* min(lista) -- Returnează cel mai mic element din listă
* max(lista) -- Returnează cel mai mare element din listă
* sum(lista) -- Returnează suma elementelor

In [ ]:
# EXEMPLU 1

numere = [4, 1, 8, 3, 9]
print(len(numere))  # 5 (numărul de elemente)

numere.sort()  # Sortează lista în ordine crescătoare
print(numere)  # [1, 3, 4, 8, 9]

numere.reverse()  # Inversează ordinea
print(numere)  # [9, 8, 4, 3, 1]

print(min(numere))  # 1
print(max(numere))  # 9
print(sum(numere))  # 25

5
[1, 3, 4, 8, 9]
[9, 8, 4, 3, 1]
1
9
25

In [ ]:
# __EXERCIȚIU__ Se dă lista urmatoare:
numere = [1, 100, 12, 23]

# Sa se afiseze pe ecran valoarea minima si valoarea maxima din lista folosind
# functii specifice listelor.

In [ ]:
# __EXERCIȚIU__ Se dă lista urmatoare:
numere = [9, 4, 1 ,12, 5, 4]

# Să se ordoneze lista crescător și să se elimine al doilea și ultimul element
# din listă. Sa se afiseze lista finala si lungimea finala a listei.

# Interacțiune cu funcția RANGE( )

Funcția range( ) poate fi folosită într-un mod asemănător ca în lucrul cu bucle, însă de această dată scopul funcției este de a genera numerele pe care le dorim, nu doar să itereze prin ele.

Putem folosi toți cei trei parametri discutați:
```
range(start, stop, pas)
```

In [ ]:
# EXEMPLU 1:

print(list(range(5)))

# OBS.: Numerotarea începe și de această dată de la 0 și se termină la n-1,
# însă de această dată toate numerele sunt stocate într-o listă prin cast la
# list( ). Putem face acest lucru pentru că funcția range( ) este ITERABILĂ.

[0, 1, 2, 3, 4]

In [ ]:
 # __EXERCIȚIU__ Sa se creeze o lista cu primele 15 numere naturale.

In [ ]:
# EXEMPLU 2:

print(list(range(3, 15)))
print(range(3,15))  # Putem observa cum funcția range( ) în sine nu generează
                    # output-ul dorit, așa că trebuie să folosim cast la list( )

print('\n')
print(list(range(3,15,2)))

# OBS.: Toți cei trei parametri funcției funcționează ca la bucle.

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
range(3, 15)


[3, 5, 7, 9, 11, 13]

In [ ]:
 # __EXERCIȚIU__ Sa se creeze o lista care sa contina elementele impare din
 # intervalul [2, 17]. Afisati lista.

In [ ]:
 # __EXERCIȚIU__ Sa se creeze o lista cu numerele de la 20 la 10, in ordine
 # descrescatoare.

# Indexare. Slicing

Slicing-ul este o tehnică de a extrage o sub-listă dintr-o listă mai mare. În loc să accesăm doar un singur element (folosind un index), putem folosi intervale (range) de indecși pentru a obține mai multe elemente simultan.

Pentru a selecta o sub-listă dintr-o listă, folosim operatorul de slicing:
```
numele_listei[start:stop:pas]
```
	•	start – Indexul de unde începe selecția (inclusiv)
	•	stop – Indexul unde se oprește selecția (fără a include acest index)
	•	pas – Cât de mari să fie pașii între elementele selectate (implicit este 1)

Dacă start sau stop sunt omise, Python presupune că start = 0 și stop = len(lista).

In [ ]:
#  Exemplu 1
fructe = ['mere', 'pere', 'cireșe', 'banane', 'portocale', 'struguri']

sub_lista = fructe[1:4]
print(sub_lista)

# start = 1 (începem de la indexul 1, care este 'pere')
# stop = 4 (ne oprim înainte de indexul 4, deci ‘portocale’ nu este inclus)
# pas = 1 (selectăm fiecare element consecutiv)

['pere', 'cireșe', 'banane']

In [ ]:
# __EXERCIȚIU__ Se dă lista urmatoare:
numere = [345, 123, 12, 364, 85, 5]

# Sa se ordoneze lista descrescator si sa se creeze o noua lista cu primele
# 3 elemente din lista sortata. Sa se afiseze noua lista.

In [ ]:
# Exemplu 2

fructe = ['mere', 'pere', 'cireșe', 'banane', 'portocale', 'struguri']
sub_lista = fructe[1:6:2]
print(sub_lista)

['pere', 'banane', 'struguri']

In [ ]:
# Exemplu 3

fructe = ['mere', 'pere', 'cireșe', 'banane', 'portocale', 'struguri']
sub_lista = fructe[4:1:-1]
print(sub_lista)

['portocale', 'banane', 'cireșe']

In [ ]:
# __EXERCIȚIU__ Se da urmatoarea lista:
# unelte = ["topor", "surubelnita", "flex", "bormasina", "set_cuie"]
# Selectati de la al doilea pana la al patrulea element din lista si creeati
# o sublista cu ele. Afisati sublista.

In [ ]:
# __EXERCIȚIU__ Generează o listă de numere de la 0 la 20. Creează o listă
# „numere_pare" care va prelua doar numerele din lista inițială care se află
# pe poziții pare. Afișați rezultatul.

# Operatorul IN

Operatorul in este folosit pentru a verifica dacă un element se află într-o listă. Cu alte cuvinte, ne răspunde la întrebarea:

	“Acest element se găsește în listă?”

Operatorul in returnează o valoare de tip True (adevărat) sau False (fals), în funcție de prezența elementului în listă.

## Sintaxa:
```
element in lista
```
	•	element – Elementul pe care dorim să verificăm dacă se află în listă
	•	lista – Lista în care căutăm elementul

In [ ]:
# Exemplu 1

fructe = ['mere', 'pere', 'cireșe', 'banane']

# Verificăm dacă un element se află în listă
print('pere' in fructe)  # True (deoarece 'pere' se află în listă)
print('struguri' in fructe)  # False (deoarece 'struguri' nu este în listă)

False
False

In [ ]:
# Exemplu 2

fructe = ['mere', 'pere', 'cireșe', 'banane']

print(fructe.index('pere'))
print(fructe[1])

# OBS.: Putem afla orice poziție a unui element în listă folosind metoda
# .index( )

1
pere

In [ ]:
# __EXERCIȚIU__ Se da urmatoarea lista:
# copii = ["Ana", "Ionel", "Marco", "Radu", "Cristina"]
# Sa se verifice daca se gaseste "Ionel" in lista.
# Sa se determine pozitia cuvantului "Cristina" in lista.
# Sa se verifice daca se gaseste "radu" in lista.

# Tupluri (Tuples) – Operații și Metode Asociate

Un tuplu este o colecție ordonată și imutabilă.
Spre deosebire de liste, tuplurile nu pot fi modificate după ce au fost create. Aceasta le face utile atunci când dorim să stocăm valori constante care nu ar trebui modificate.

## Caracteristici principale ale tuplurilor
	1.	Ordonate – Elementele au o poziție (index) și sunt păstrate în ordinea adăugării.
	2.	Imutabile – Nu putem schimba, adăuga sau șterge elemente după ce tuplul a fost creat.
	3.	Permite duplicate – Un tuplu poate conține elemente duplicate.
	4.	Acceptă tipuri de date diferite – Un tuplu poate conține valori de diferite tipuri (int, str, list, tuple, etc.).

  ## Sintaxă
```
numele_tuplului = (element1, element2, element3, ...)
```

In [ ]:
# Exemplu 1

tuplu = (5, 10)
tuplu_unic = (42,)  # Tuplu cu un singur element

print(tuplu, tuplu_unic)

# OBS.: Pentru a iniția un tuplu cu un singur element, trebuie să adăugăm
# virgulă la final

tuplu_unic_test = (42)
print(type(tuplu_unic_test))

# Dacă nu adăugăm virgula, interpretorul va presupune că dorim să asociem
# valoarea introdusă în paranteze (în acest caz un număr întreg -- int).

(5, 10) (42,)
<class 'int'>

In [ ]:
# __EXERCIȚIU__ Sa se creeze un tuplu de 4 numere alese de voi si sa se
# afiseze lungimea acestuia.

In [ ]:
# Exemplu 2

# Tuplu cu mai multe elemente
fructe = ('mere', 'pere', 'cireșe')

# Tuplu mixt cu diferite tipuri de date
mix = (1, 'Python', 3.14, True)

# Tuplu gol
gol = ()
gol = tuple()


print(fructe)
print(mix)
print(gol)

# OBS.: Tuplurile funcționează similar cu listele, deoarece putem adăuga orice
# tip de date în interiorul lor ca și element.

('mere', 'pere', 'cireșe')
(1, 'Python', 3.14, True)
()

In [ ]:
# __EXERCIȚIU__ Creeați următoarele tupluri:
# 1. Un tuplu cu un singur element.
# 2. Un tuplu cu valori din trei tipuri de date diferite.
# 3. Un tuplu gol.

# Accesarea elementelor dintr-un tuplu

Accesăm elementele unui tuplu la fel ca la liste, folosind indexul.
Indexarea începe de la 0 pentru primul element și poate fi negativă pentru a accesa elementele de la sfârșit către început.

In [ ]:
# Exemplu 1

fructe = ('mere', 'pere', 'cireșe')

# Accesarea primului element
print(fructe[0])  # 'mere'

# Accesarea ultimului element
print(fructe[-1])  # 'cireșe'

mere
cireșe

In [ ]:
# __EXERCIȚIU__ Generează un tuplu care să conțină trei studenți: Ana, Matei și
# Corina.
# Printează a doua valoare din tuplu (!).

# Operații cu tupluri

Toate operațiile posibile în lucrul cu tupluri sunt acelea care se folosesc de tuplul în sine, NU DE ELEMENTELE LUI. În cazul listelor, puteam spre exemplu să adăugăm un singur element în listă, dar la tupluri vom vedea că putem adăuga doar un tuplu întreg în alt tuplu.

In [ ]:
# Exemplu 1

tuplu1  = (1,2,3,4)
tuplu2 = (5,6,7,8)

tuplu3 = tuplu1 + tuplu2 # Operația de concatenare se folosește prin operatorul „+"
print(tuplu3)

tuplu4 = tuplu1 * 4 # Putem repeta același tuplu prin folosirea operatorului „*"
print(tuplu4)

print(tuplu1[2]) # Putem doar să ACCESĂM elemente din tuplu, nu să le manipulăm.

print(2 in tuplu1)  # Operatorul IN funcționează deoarece nu schimbă valorile,
                    # doar le verifică.

print(len(tuplu1)) # Putem folosi funcția len( ) și în lucrul cu tupluri.

In [ ]:
# Exemplu 2: Metode asociate

tuplu = (1, 2, 3, 2, 4, 2)

# Count - de câte ori apare 2
numar_aparitii = tuplu.count(2)
print(f"Numărul de apariții ale lui 2: {numar_aparitii}")  # 3

# Index - poziția primei apariții a lui 3
pozitia = tuplu.index(3)
print(f"Prima poziție a lui 3: {pozitia}")  # 2

In [ ]:
# __EXERCIȚIU__ Fie „tuplu1" și „tuplu2" două tupluri date.

tuplu1 = ("Ana", "Ion")
tuplu2 = ("Bogdan", "Mihaela")

# Să se concateneze cele două tupluri și să se testeze dacă numele „Mihaela"
# se găsește în tuplul rezultat. Să se afișeze poziția cuvântului în tuplul
# rezultat.

In [ ]:
# __EXERCIȚIU__ Se da tuplul urmator:

t = (12, 5, 23, 5, 122, 321, 5)

# Sa se afiseze pe ecran de cate ori apare numarul 5 in tuplu.

# [!] Sa se structureze un algoritm care sa determine care este numarul care
# apare de cele mai multe ori intr-un tuplu.

# Seturi (Set) – Operații și Metode Asociate

Un set este o colecție neordonată de elemente unice.
În contrast cu listele, seturile nu permit elemente duplicate, iar ordinea elementelor nu este garantată.
Un set este similar cu o punguță de obiecte: dacă bagi mâna, nu știi ce element vei extrage, dar știi că nu există duplicate.

## Caracteristici principale ale seturilor
	1.	Neordonate – Nu putem controla ordinea în care sunt stocate elementele.
	2.	Fără duplicate – Fiecare element dintr-un set este unic (dacă adăugăm un element deja existent, nu va fi adăugat din nou).
	3.	Mutabile – Putem adăuga și șterge elemente, dar seturile nu suportă modificarea directă a elementelor.
	4.	Imutabilitate a elementelor – Elementele unui set trebuie să fie valori imutabile (de exemplu, numere, șiruri de caractere, tupluri).


### Sintaxă
```
numele_setului = {element1, element2, element3, ...}
```
	1.	Folosind acolade {} – Aceasta este cea mai frecventă metodă.
	2.	Folosind funcția set() – Utilă pentru a converti liste sau alte colecții în seturi.

In [ ]:
# Exemplu 1

# Set cu mai multe elemente
fructe = {'mere', 'pere', 'cireșe'}

# Set cu elemente de tipuri diferite
mix = {1, 'Python', 3.14, True}

# Crearea unui set dintr-o listă (elimină duplicatele automat)
lista_numere = [1, 2, 2, 3, 4, 4, 5]
numere = set(lista_numere)
print(numere)  # {1, 2, 3, 4, 5}

# Set gol (ATENȚIE: {} este un dicționar gol, nu un set)
set_gol = set()
print(set_gol)  # set()

# OBS.: La ce trecerea de la o listă la un set, duplicatele sunt eliminate
# automat.

{1, 2, 3, 4, 5}
set()

In [ ]:
# __EXERCIȚIU__ Creeați următoarele seturi:
# 1. Un set cu un singur element.
# 2. Un set cu valori din trei tipuri de date diferite.
# 3. Un set gol.

# Operații cu seturi

Operațiile cu seturi se aseamănă foarte mult cu operațiile cu mulțimi din matematică. Multe operații clasice ca „reuniunea” sau „intersecția” au un echivalent în lucrul cu seturi.

### Sintaxa folosită pentru aceste metode este următoarea:
```
# set1.metoda_dorita(set2)
```
Ordinea contează atunci când folosim operații precum diferența de seturi, întrucât tot timpul setul care apelează metoda va fi membrul stâng al ecuației și setul parametru va fi membrul drept.


![image.png]()

In [ ]:
# Exemplu 1

# Adăugare de elemente
fructe = {'mere', 'pere'}
fructe.add('cireșe')
print(fructe)  # {'mere', 'pere', 'cireșe'}

# OBS.: La seturi nu mai putem folosi metoda .append( ), ci apelăm la .add( )

# Uniune
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.union(set2) # Echivalentul reuniunii din matematică
# set1 U set2
print(set3)  # {1, 2, 3, 4, 5}


# Intersecție
set4 = set1.intersection(set2) # Echivalentul intersecției din matematică
print(set4)  # {3}

# Diferență
set5 = set1.difference(set2) # Echivalentul diferenței de mulțimi
print(set5)  # {1, 2}

# Eliminarea unui element
fructe.remove('pere')
print(fructe)  # {'mere', 'cireșe'}

# Golirea unui set
fructe.clear()
print(fructe)  # set()

{'cireșe', 'pere', 'mere'}
{1, 2, 3, 4, 5}
{3}
{1, 2}
{'cireșe', 'mere'}
set()

In [ ]:
# __EXERCIȚIU__ Se dau două seturi.

fructe_ana = {'mere', 'pere', 'gutui'}
fructe_andrei = {'pere','cirese','struguri'}


# Afișează pe ecran:
# 1. Câte fructe are Ana;
# 2. Care sunt fructele pe care le au amândoi în comun;
# 3. Care sunt fructele pe care le are Andrei, dar nu le are Ana;
# 4. Un fruct la întâmplare din fructele Anei (folosind o metodă din cele
# prezentate).

In [ ]:
# Exemplu 2: Alte metode folositoare

# Adăugarea unui ITERABIL într-un set
set1 = {1, 2, 3}
set1.update([4,5,6])

# OBS.: Metoda .update( ) este echivalentul metodei .extend( ) din lucrul cu
# liste.
# Putem introduce orice iterabil ca și parametru și conversia la set se va face
# automat.

# Eliminarea unui element dintr-un set (FĂRĂ EROARE DACĂ ELEMENTUL NU ESTE GĂSIT)
set1.discard(7)
# set1.remove(7) -- Va genera eroare.
set1.discard(3)
print(set1)

# Eliminarea (cu returnare) a unui element ARBITRAR din set
print(set1.pop())
print(set1)

# Aflarea lungimii unui set
print(len(set1))

{1, 2, 4, 5, 6}
1
{2, 4, 5, 6}
4

In [ ]:
# __EXERCIȚIU__ Se dă următorul set:
set_numere = {15, 25, 32, 0}

# Actualizati setul sa contina și urmatoarele numere: 5, 10, 15
# Eliminati elementul 15 din set.
# Eliminati un element arbitrar din set.
# Afisati lungimea setului.

# Dicționare (Dictionary) – Operații și Metode Asociate

Un dicționar este o colecție de perechi cheie-valoare.
Este similar unui carnet de telefon sau unei enciclopedii, unde:

	*	Cheia (key) este cuvântul căutat (numele abonatului sau termenul enciclopedic).
	*	Valoarea (value) este informația asociată (numărul de telefon sau definiția termenului).

Dicționarele sunt folosite atunci când dorim să asociem valori cu chei și să accesăm valorile pe baza cheilor, nu a indexului.

### Sintaxă
```
numele_dicționarului = {
    cheie1: valoare1,
    cheie2: valoare2,
    cheie3: valoare3,
}
```

Metode de creare a unui dicționar:

	1.	Folosind acolade {} – Metoda preferată și mai intuitivă.
	2.	Folosind funcția dict() – Utilă pentru a crea dicționare mai dinamice.

In [ ]:
# Exemplu 1

# Dicționar de produse și prețuri
produse = {'mere': 5, 'pere': 7, 'cireșe': 15}
print(produse)
print(produse['pere'])

# Dicționar cu chei de tip string și valori mixte
student = {'nume': 'Andrei', 'varsta': 20, 'note': [8, 9, 10], 30:'colegi'}
print(student)

# OBS.: Într-un dicționar putem avea orice tip de date, atât pentru chei, cât
# și pentru valori, însă acest lucru este foarte DESCURAJAT. Aveți grijă când
# definiți un dicționar, întrucât cheia va fi mereu în stânga „:" și valoarea
# va fi în dreapta.

# Crearea unui dicționar gol
dict_gol1 = {}
dict_gol2 = dict()

{'mere': 5, 'pere': 7, 'cireșe': 15}
7
{'nume': 'Andrei', 'varsta': 20, 'note': [8, 9, 10], 30: 'colegi'}

In [ ]:
# __EXERCIȚIU__ Creeati un dictionar care sa contina urmatoarele date despre
# un client fictiv: numele clientului (cu cheia "nume"), email-ul clientului
# (cu cheia "email"), si numarul sau de telefon (cu cheia "telefon").

# Accesarea elementelor dintr-un dicționar

Putem accesa o valoare dintr-un dicționar folosind cheia.
Dacă cheia nu există, obținem o eroare KeyError, dar putem folosi metoda .get() pentru a evita această eroare.

In [ ]:
# Exemplu 1

produse = {'mere': 5, 'pere': 7, 'cireșe': 15}

# Accesarea valorilor folosind cheia
print(produse['pere'])  # 7

# Utilizarea metodei .get()
valoare = produse.get('struguri', 'nu există')
print(valoare)  # 'nu există'

# Al doilea parametru al metodei .get( ) este valoarea IMPLICITĂ sau, în alte
# cuvinte, ce se întâmplă dacă nu găsește cheia căutată.

7
nu există

In [ ]:
# __EXERCIȚIU__ Se dă urmatorul dictionar:

baza_de_date_clienti = {
    "ID1001":"Marcel",
    "ID1002":"Ana",
    "ID1003":"Ioana",
    "ID1004":"Florica"
}

# Sa se afiseze pe ecran numele clientului cu id-ul `ID1003`.

In [ ]:
# Exemplu 2: ADĂUGARE

produse = {'mere': 5, 'pere': 7}

# Adăugare de noi elemente
produse['cireșe'] = 15
print(produse)  # {'mere': 5, 'pere': 7, 'cireșe': 15}

# Modificarea valorii pentru o cheie existentă
produse['pere'] = 10
print(produse)  # {'mere': 5, 'pere': 10, 'cireșe': 15}


# OBS.: Lucrul cu dicționarele este în sine mult mai dinamic, întrucât putem
# adăuga și modifica valori doar prin atribuirea de valori.

{'mere': 5, 'pere': 7, 'cireșe': 15}
{'mere': 5, 'pere': 10, 'cireșe': 15}

In [ ]:
# __EXERCIȚIU__ Se dă urmatorul dictionar:

baza_de_date_clienti = {
    "ID1001":"Marcel",
    "ID1002":"Ana",
    "ID1003":"Ioana",
    "ID1004":"Florica"
}

# Sa se adauge clientul `Robert` cu id-ul `ID1005`. Sa se afiseze dictionarul.

In [ ]:
# Exemplu 3: ȘTERGERE

produse = {'mere': 5, 'pere': 7, 'cireșe': 15}

# Ștergere a unei perechi
del produse['pere']
print(produse)  # {'mere': 5, 'cireșe': 15}

# Ștergere și returnarea valorii folosind pop()
valoare = produse.pop('cireșe')
print(valoare)  # 15

# Golirea întregului dicționar
produse.clear()
print(produse)  # {}

{'mere': 5, 'cireșe': 15}
15
{}

In [ ]:
# __EXERCIȚIU__ Se dă urmatorul dictionar:

baza_de_date_clienti = {
    "ID1001":"Marcel",
    "ID1002":"Ana",
    "ID1003":"Ioana",
    "ID1004":"Florica"
}

# Sa se stearga clientul cu id-ul `ID1001`. Sa se afiseze dictionarul.

In [ ]:
# __EXERCIȚIU__ Se dau urmatoarele perechi cheie valoare:
# "001" - "Ana"
# "002" - "Maria"
# "003" - "Ion"
# "004" - "Matei"

# 0. Creeati dictionarul.
# 1. Modificati numele clientului cu id-ul "003" in "Vlad";
# 2. Eliminati clientul `Matei` dupa id-ul sau;
# 3. Afisati dictionarul;
# 4. Eliminati toate datele din dictionar.

In [ ]:
# Exemplu 3: Metode de folosire a componentelor unui dicționar

produse = {'mere': 5, 'pere': 7, 'cireșe': 15}

# Obținerea tuturor cheilor
chei = produse.keys()
print(chei)  # dict_keys(['mere', 'pere', 'cireșe'])

# Obținerea tuturor valorilor
valori = produse.values()
print(valori)  # dict_values([5, 7, 15])

# Obținerea tuturor perechilor cheie-valoare
perechi = produse.items()
print(perechi)  # dict_items([('mere', 5), ('pere', 7), ('cireșe', 15)])

# Parcurgerea perechilor cheie:valoare

print('\n')
for x,y in produse.items():
    print(x,y)

# OBS.: Avem situații în care dorim să folosim doi iteratori pentru o buclă FOR.
# În cazuri de genul, iteratorii vor parcurge treptat elementele și vor lua
# valori pe rând (x = 'mere', y = 5, x = 'pere', y = 7, etc...).

dict_keys(['mere', 'pere', 'cireșe'])
dict_values([5, 7, 15])
dict_items([('mere', 5), ('pere', 7), ('cireșe', 15)])


mere 5
pere 7
cireșe 15

In [ ]:
# __EXERCIȚIU__ Definește un dicționar gol „comenzi_clienti", cu oricare dintre
# modalități. Adaugă, pe rând, perechile cheie:valoare de mai jos, care
# reprezintă numele clientului și numărul de comenzi pe care l-a făcut:
# Ana - 2  |  Mihai - 3  |  Marcel - 7  |  Karina - 1

# Mihai plasează o nouă comandă. Crește numărul de comenzi făcute de Mihai cu 1.
# Marcel pleacă de la firma noastră. Șterge-l pe Marcel din dicționar.
# Ana este curioasă câte comenzi a făcut. Printează numărul de comenzi făcute
# de Ana.
# Sandu este un nou client. Adăugă-l pe Sandu în dicționar cu o comandă făcută.

In [ ]:
# __EXERCIȚIU__ Creează o funcție care ia ca și parametru o listă de numere
# și returenază POZIȚIA celui mai MIC număr.
# Apelează funcția cu parametrul [12, 64, 21, 7, 323, 125] și printează
# rezultatul.

# HINT: Putem folosi o funcție asociată listelor pentru a determina cel mai mic
# număr.

In [ ]:
# __EXERCIȚIU__ Definește o funcție care să ia un număr întreg ca și parametru.
# Funcția va întoarce un string care reprezintă scrierea cu litere a fiecărei
# cifre.
# Exemplu:  112 -> unu unu doi
#           5231 -> cinci doi trei unu
# Apelează funcția cu exemplele date și afișează rezultatul pe ecran.







# HINT: Putem folosi un dicționar pentru a memora cuvântul în limba română
# asociat fiecărei litere. Cheia va fi cifra în sine. Cu cât parcurgem numărul,
# căutăm cifra în dicționar și adăugăm valoarea într-o listă. La final,
# concatenăm elementele listei ca să obținem rezultatul.

# Pentru a parcurge cifrele numărului, vom lua mai întâi cifra unităților prin
# folosirea operatorului „%" (mod), o vom prelucra, și apoi o vom elimina prin
# folosirea operatorului „/" (div). Odată ce rămânem fără cifre, oprim
# parcurgerea.

# Parcurgerea se va face de la coadă la cap, deci va trebui să parcurgem lista
# în sens opus sau să schimbăm ordinea elementelor pentru a determina rezultatul.